@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 40px;
    border-radius: 50%;

}

