@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
    
}

main{
    position: relative;
    height: 100vh;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 81px;
    left: 22px;
    
    width: 268px;
    height: 472px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.61);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.74);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.555);
    transform: translate(-4px, -4px);
    transition: 0.2s, border 0.15s ;
}

